* {
    margin: 0;
    padding: 0; /*limpiamos todo*/
}

body {
    background: radial-gradient(black 3px, transparent 4px), radial-gradient(black 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
    font-family: 'Manjari', sans-serif;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    color: #000000;
    font-family: 'Manjari', sans-serif;
}

.title h1{
    padding: 40px 0 ;
    text-align: center;
    font-size: 2.9em;
}

.header h1{
    margin: 10px;
}
.container{

    
    background: white;
    width: 90%;
    max-width: 5000px;
    margin: 1.6em auto;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 1.30em;
    grid-template-columns: repeat(auto-fill, minmax(10rem,1fr));
}

.container > .header,
.container > .tituloDia,
.container > .horas,
.container > .topicos{
    background: #fff;
    border: 1px solid black;
    text-align: center;
}


.container .header{
    background: #660109;
    color: white;
    grid-column: 1/7;
}

.container > .topicos h4{
    background: rgb(255, 215,0);
}


.footer{
    background: #660109;
    color: white;
    grid-column: 1/7;
}
.container > .tituloDia{
    grid-column: 1/-1;
}

.container > .horas{
    grid-column: span 1;
}

.container > .topicos{
    grid-column: 2/7;
}

.topicos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.container .topico p,
.container .horas p{
    padding: 10px;
}

.container > .topicos h4,
.container >.horas h4{
    padding: 20px;
}

.horas , .topico{
    display: grid;
    grid-auto-rows: minmax(10px,110px);
}

p:nth-child(even){
    background: #a4a4a4;
}


p, h4{
    overflow: hidden;
}

